//messages
.openRight{
    background-color: green;
    color: #FFF;
    padding: 7px 7px;
    border-radius: 100px;
    font-size: 10px;
}
.messRight{
    color: #C0C8C8;
}
.messLeft{
    color: $notfooter;
}
.messFooterL{
    color: #C0C8C8;
}
.messFooterR{
    color: $notfooter;
}


//notifications
.openLeft{
    background-color: $notopen;
    color: #FFF;
    padding: 7px 9px;
    border-radius: 100px;
    font-size: 10px;
}
.notRight{
    color: $notfooter;
}
.notLeft{
    color: #C0C8C8;
}