.openLeft{
    background-color: red;
    color: #FFF;
    padding: 7px 9px;
    border-radius: 100px;
    font-size: 10px;
}
.openRight{
    background-color: green;
    color: #FFF;
    padding: 7px 7px;
    border-radius: 100px;
    font-size: 10px;
}

.notRight{
    color: green;
}

.notLeft{
    color: #C0C8C8;
}