//main
$main:#D5ECDA;

//notification
$notopen:rgb(255, 0, 0);
$notbg:#FFFFFF;
$notborder:#edf2f1;
$notfooter:#38B118;
$notfont:#B6C1BD;
$itemhover:#f3f7f4;

//messages
$messbg:#FFFFFF;
$pborder:#9BA9C4;
$pbg:#F1F8F1;
